<tr>
  <td>
    {{{__ "O médico(a)"}}} {{ doctorName }} {{{__ "enviou a sua receita médica."}}}
  </td>
</tr>
<tr>
  <td>
    <b>{{{__ "Atenção"}}}</b>
  </td>
</tr>
<tr>
  <td>
    {{{__ "A receita médica está anexada a este email. Faça download e backup dela em lugar seguro"}}}
  </td>
</tr>
<tr>
  <td>
    <b>{{{__ "E agora?"}}}</b>
  </td>
</tr>
<tr>
  <td>
    {{{__ "Compartilhe a receita com a farmácia de sua preferência através do email ou whatsapp"}}}
  </td>
</tr>
<tr>
  <td>
    <b>{{{__ "O que eu faço com o certificado?"}}}</b>
  </td>
</tr>
<tr>
  <td>
    {{{__ "Faça backup junto com a receita médica. Ele certifica que é uma receita médica válida, assinada digitalmente pelo médico"}}}
  </td>
</tr>
